@font-face {
    font-family: 'openSansMedium';
    src: url("Assets/Fonts/osmedium.ttf");
}

@font-face {
    font-family: 'openSansBold';
    src: url("Assets/Fonts/opensansbold.ttf");
}

@font-face {
    font-family: 'openSansLight';
    src: url("Assets/Fonts/opensanslight.ttf");
}

@font-face {
    font-family: 'openSansSemiBold';
    src: url("Assets/Fonts/ossemibold.ttf");
    
}

@font-face {
    font-family: 'OpenSansReguler';
    src: url("Assets/Fonts/OpenSans-Regular.ttf");
}

body {
    padding: 0px;
    margin: 0px;
}

a{
    color: inherit;
    text-decoration: none;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #000000;
    align-items: center;
    column-gap: 5%;
}

.header img {
    width: 100px;
    height: auto;
    padding-left: 50px;
    padding-right: 700px;
}

.header-items {
    color: #FFFFFF;
    font-size: 20px;
    font-family: openSansMedium;
    height: 35%;
    margin: 10;
}

.hr {
    width: 100%;
    height: 5px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    margin-bottom: 0px;
}

.aboutus1{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
}

.text11{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    line-height: 40px;
}

.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OpenSansLight;
    font-size: 19px;
    /* margin-bottom: 15px;
    font-size: 19px;
    font-family: OpenSansLight;
    max-width: 800px; */
    /* background-color: blue; */
}

.img1{
    padding: 0;
    margin: 0;
}

.img1 img{
    max-width: 730px;
    height: 100%;
    background-color: red;
}

.aboutus2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img2 img{
    height: auto;
    max-width: 380px;
    height: 100%;
}

.text22{
    padding-left: 80px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.text2{
    line-height: 40px;
    font-size: 19px;
    font-family: OpenSansSemiBold;
    max-width: 650px;
}

.img3{
    padding: 0;
    margin: 0;
}

.img3 img{
    max-width: 350px;
    margin-left: 150px;
    height: 100%;
}

.aboutus3{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.img4 img{
    max-width: 950px;
    height: 100%;
}

.text3{
    padding-right: 80px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 19px;
    font-family: OpenSansLight;
    line-height: 40px;
}

.text33{
    margin-right: 50px;
}

.text34{
    margin-left: 200px;
}


.hline {
    width: 100%; 
    height:1px; 
    box-shadow: 0px 1px 4px 0px #000000;
    background: #000000 
}

footer {
    background-color: #ffffff;
    padding: 20px 0;
  }
  
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
  
.footer-column {
    flex: 1;
}

footer ul{
    max-width: 80px;
    display: flex;
    flex-direction: column;
}

footer h4{
    margin-left: 5px;
    font-size: 18px;
    font-family: OpenSansSemiBold;
}

ul button{
    font-size: 15px;
    font-family: OpenSansReguler;
    color: black;
    border: none;
    background: white;
    cursor: pointer;
    margin-bottom: 20px;
}
  
h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
i{
    margin-left: 5px;
    margin-bottom: 10px;
}

.gap{
    margin-bottom: 80px;
}

@media only screen and (max-width: 768px){
    .header {
        display: flex;
        width: 100%;
        height: 5vh;
        background-color: #000000;
        align-items: center;
    }
    
    .header img {
        width: 40px;
        height: auto;
        padding-top: 5px;
        padding-left: 25px;
        padding-right: 75px;
    }
    
    .header-items {
        color: white;
        font-size: 8px;
        font-family: openSansMedium;
        height: 35%;
        margin: 10;
    }
    
    .hr {
        width: 100%;
        height: 3px;
        margin-top: 3px;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
    }

    /* Main Body*/

    
.aboutus1{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
}

.text11{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    line-height: 15px;
}

.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OpenSansLight;
    font-size: 10px;
    /* margin-bottom: 15px;
    font-size: 19px;
    font-family: OpenSansLight;
    max-width: 800px; */
    /* background-color: blue; */
}

.img1{
    padding: 0;
    margin: 0;
}

.img1 img{
    max-width: 150px;
    /* background-color: red; */
}

.aboutus2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img2 img{
    margin-top: 30px;
    height: 150px;
    width: auto;
}

.text22{
    padding: 0;
    margin: 20px 5px 20px 5px;
}

.text2{
    line-height: 10px;
    font-size: 8px;
    font-family: OpenSansSemiBold;
    max-width: 700px;
}

.img3{
    padding: 0;
    margin: 0;
}

.img3 img{
    margin-left: 0px;
    height: 170;
    width: 85px;
}

.aboutus3{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.img4 img{
    max-width: auto;
    height: 70px;
}

.text3{
    padding: 0;
    margin: 20px 5px 0 20px;
    font-size: 10px;
    font-family: OpenSansLight;
    line-height: 15px;
}

.text33{
    margin-right: 5px;
}

.text34{
    margin-left: 2px;
}


    /* Footer */

    .hline {
        width: 100%; 
        height:1px; 
        box-shadow: 0px 1px 4px 0px #000000;
        background: #000000 
    }

    footer {
        background-color: #ffffff;
        padding: 0;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .footer-column {
        flex: 1;
    }

    footer ul{
        max-width: 80px;
        display: flex;
        flex-direction: column;
    }

    footer h4{
        margin-left: 5px;
        font-size: 10px;
        font-family: OpenSansSemiBold;
    }

    ul button{
        font-size: 8px;
        font-family: OpenSansReguler;
        color: black;
        border: none;
        background: white;
        cursor: pointer;
        margin-bottom: 5px;
    }
    
    h4 {
        font-size: 10px;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    i{
        margin-left: 5px;
        margin-bottom: 10px;
    }
}